#logo{
    width: 120px;
    height: 70px;
}
.my_navbar{
    width: 100%;
    gap: 50px;
}
.my_navbar>li{
    margin-bottom: 0px;
    align-self: center;
    border: 0px;
}
.my_navbar>li>a{
    text-decoration: none;
    color: #333333;
}
.bestselling{
 width: 100%;   
}
.upper-margin{
    height: 100px;
}

#head{
    margin-top: 8%;
}
.my-btn{
 width: 150px;
 height: 50px;
}
  .small-icon {
    font-size: 12px;
  }
.services{
    height: 120px;
    background-color: #333333;
    margin: 7.5% 0% 7.5% 0% ;
    padding: 15px;
    border-radius: 2rem;
    display: flex;
    gap: 20px;
}
.service-img>svg{
    position: relative;
    top: 7px;
}

.service-heading{
font-size: 28px;
}
.service-descrp{
    font-size: 15px;
}
.
/* .servicehead{
    font-size: 25px;
}
.servicedescription{
    margin-left: 49px;
} */

.fivestar{
    width: 80px;
    height: 20px;
}
.LINK{
    text-decoration: none;
    color: black;
}
 .product-image {
    width: 100%;
    height: 200px;
}
.card-body {
    text-align: center;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
.category {
    font-size: 15px;
    margin-bottom: 2%;
    color: grey;
}
.productname {
    text-decoration: none;
    color: black;
}
.my-card{
    height: 55vh !important;
}
.card-title {
    margin-bottom: 0.5rem;
}
.card-div{
    margin: 30px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.fivestar {
    width: 80px;
    height: 20px;
}


/* reviews form styling */
.textarea{
    width: 100%;
    height: 100px;
}
.textbox{
    margin:2%
}
.input-container{
    margin: 2% 4.054% 2% 4.054%;
}
.input{
    width: 100%;
    height: 41px;
}
.produt_title{
    font-size: 1.875rem;
    margin: 0 0 .5em 0;
}
.addtocart{
    padding: 10px 20px;
    width: 50%;
}
#alert{
    display: none;
}
.viewcart{
    position: absolute;
    right: 0px;
    height: 50px;
    width: 130px;
    bottom: 3px;
    background-color: rgb(106, 151, 57);
    border-width: 0px;
    border-radius: 4px;
    color:white
}

@media screen and (max-width:912px) {

    .my_navbar{
        gap: 20px;
    }
    
}
@media screen and (max-width:1024px) {

    .service-heading{
font-size: 19px;
}
.service-descrp{
    font-size: 10px;
}

.my-card{
    height: 35vh !important;
}
    
}

@media screen and (width:1024px) and (height:600px){
    .my-card{
    height: 65vh !important;
}
}